/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

/* CSS COMPONENT IMPORTS */
@import url("./components/header/header.css");
@import url("./components/footer/footer.css");
@import "./components/card/card.css";

:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --dark: 61, 61, 61;
  --light: 225, 225, 225;

  --main-font: "Quicksand", sans-serif;
  --brand-font: "Shrikhand", cursive;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body * {
  font-family: var(--main-font);
}

body {
  background-color: rgb(var(--dark));
  color: rgb(var(--light));
}

#outlet {
  min-height: 100vh;
}

.font-shrikhand {
  font-family: var(--brand-font);
}

.home-view {
  display: grid;
  row-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}
